@layer components {
  .card {
    background: var(--card-bg);
    border: 1px solid var(--card-border);
    border-radius: var(--space-inline-s);
    padding: var(--space-l) var(--space-inline-l);
  }

  .card p { font-size: var(--text-s); color: var(--card-ink); margin-block: var(--space-s) 0; }
}
